.background-image {
  background: url("https://res.cloudinary.com/lara-cloud1/image/upload/v1511559974/above-adventure-aerial-air_p8lmau.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.session-form {
  position: relative;
  min-height: 100vh;
  .auth-container {
    position: absolute;
    width: 628px;
    height: 394px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: url("https://res.cloudinary.com/lara-cloud1/image/upload/v1511560921/above-adventure-aerial-air-blurred_bnxuz8.jpg") no-repeat center center fixed;
    -webkit-background-size: 200% 200%;
    -moz-background-size: 200% 200%;
    -o-background-size: 200% 200%;
    background-size: 200% 200%;
    border-radius: 4px;
    
    .auth-left {
      width: 168px;
      height: 334px;
      padding: 30px;
      display: inline-block;
      background: hsla(0, 0%, 100%, .7);
      border-radius: 4px 0 0 4px;
      text-align: center;

      img {
        
        display: block;
        margin-left: 0 auto;
      }

      p {
        display: inline-block;
        vertical-align: middle;
        font-size: 72px;
        font-family: 'Oswald', sans-serif;
        line-height: normal;
        color: #7289da;
      }
    }
    form {
      p {
        margin-top: 10px;
        font-size: 12px;
        color: #87909c;
        
        .auth-link {
          text-decoration: none;
          color: white;
          padding-bottom: 5px;
        }

        .auth-link:hover {
          cursor: pointer;
          border-bottom: 2px solid white;
        }
      }

      display: inline-block;
      font-family: 'Roboto', sans-serif;
      height: 334px;
      width: 340px;
      padding: 30px;
      background: rgba(40, 43, 48, .75);
      vertical-align: top;
      border-radius: 0 4px 4px 0;
      h2 {
        font-family: 'Francois One', sans-serif;
        text-align: center;
        letter-spacing: .4px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 30px;
        color: white;
      }
      label {
        font-family: 'Francois One', sans-serif;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        text-transform: uppercase;
        letter-spacing: .2px;
        color: #87909c;
        font-size: 12px;
        font-weight: 900;

        .red {
          color: #f04747;
        }

        p {
          display: inline-block;
          margin-top: 0;
          }
        }
        
      input {
        display: block;
        height: 34px;
        padding: 1px;
        margin-top: 12px;
        margin-bottom: 12px;
        background: transparent;
        // background-color: rgb(250, 255, 189);
        border: 0;
        color: white;
        font-size: 16px;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
      }
      input:focus {
        border-bottom: 2px solid white;
        outline: none;
        margin-bottom: 11px;
      }
      button {
        display: inline-block;
        line-height: 58px;
        margin: 50px 0 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
        background-color: #7289da;
        color: white;
        border: 0;
        border-radius: 3px;
        font-size: 15px;
      }

      button:hover {
        background-color: #5f78ca;
        cursor: pointer;
      }

      .register-button {
        margin: 10px 0 0;
      }
    }
  }

  .auth-error {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-top: 0;
    font-weight: 0;
    font-size: 9.5px;
    // color: inherit;
  }
}