.channel-scrollarea {
  width: 240px;
  height: calc(100vh - 100px);
  background: #303236;
  display: flex;
}

.channel-name-container {
    display: flex;
    align-items: center;
    width: 193px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-item {
  width: 208px;
  height: 32px;
  padding: 0 8px;
  margin: 1px 0px 1px 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: #72767d;
    margin-right: 5px;
  }
  overflow: hidden;

  
}

.active {

  .channel-item, .channel-item:hover {
    background: rgba(79, 84, 92, .6);
  }

  .channel-name {
    color: #f6f6f7;
  }
}

.channel-item:hover {
  background: rgba(79, 84, 92, 0.2);

  .channel-name {
    color: #f6f6f7;
  }
}

.lazy-padding {
  height: 16px;
}

.delete-channel {
  text-decoration: none;
  color: #72767d;
}

.delete-channel:hover {
  color: #d84040;
}

.channel-header {
  display: flex;
  background: #36393f;
  width: calc(100vw - 314px);
  height: 48px;
  box-shadow: 0 1px 0 #202427,
  0 2px 0 rgba(0, 0, 0, .06);
  z-index: 2;
  align-items: center;
  box-sizing: border-box;
  padding-left: 12px;
  p {
    font-family: 'Roboto', sans-serif;
    font-size:  16px;
    display: inline-block;
    text-decoration: none;
    color: #72767d;
    margin-right: 5px;
    font-weight: 900;
  }

  .channel-name {
    color: #f6f6f7;
  }
}

.team-navlink {
  position: relative;
  
  .blocker {
    background: transparent;
    position: absolute;
    width: 52px;
    height: 52px;
    z-index: 5;
  }
}