body {
  background-color: #202326;
}

.display-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
}