body {
  background-color: #202326;
}

.display-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.welcome-message {
  h2 {
    color: #f6f6f7;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 10px;
    font-size: 20px;
  }
  
  h3 {
    color: #f6f6f7;
    font-family: 'Roboto',
    sans-serif;
    margin: 10px;
    font-size: 18px;
  }
}